<main>
<h2>Digital Library</h2>
<br><br>
<div class="card" style="width:50%;margin-inline: 25%;margin-bottom: 50%;padding: 20px;border-radius: 40px;">
    <div class="card-body" >
    <form class="row" (ngSubmit)="onLogin()">
        <div></div>
        <br>
    <div class="mb-3 row" >
        <label for="username" class="col-sm-3 col-form-label" 
            style="text-align:left;font-weight: bold;color: #000;font-size: 18px;">Username</label>
        <div class="col-sm-9">
            <input type="text" class="form-control" id="username" [(ngModel)]="username" name="username" required 
            style="border: solid black 1px;"/>
        </div>
    </div>
    <div class="mb-3 row" >
        <label for="password" class="col-sm-3 col-form-label"  
            style="text-align:left;font-weight: bold;color:#000;font-size: 18px;">Password</label>
        <div class="col-sm-9">
            <input type="password" class="form-control" id="password" [(ngModel)]="password" name="password" required
            style="border: solid black 1px;"/>
        </div>
    </div>
    <div class="mb-3 row" >
        <div class="col-sm-3" ></div>
        <div class="col-sm-9">
        <button type="submit" class="btn col-sm-12" style="background-color: #4472C4;color: #fff;font-size: 18px;font-weight: bold;">Login</button>
        </div>
    </div>
    </form>
</div>
</div>
</main>
<router-outlet></router-outlet>
